<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.denysnovoa.nzbmanager"
    >

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

  <application
      android:name=".common.framework.BaseApplication"
      android:allowBackup="true"
      android:icon="@drawable/ic_radarr"
      android:label="@string/app_name"
      android:roundIcon="@drawable/ic_radarr"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      >
    <activity android:name=".radarr.movie.list.view.screen.MoviesActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name=".settings.screen.SettingsActivity"
        android:label="@string/title_activity_settings"
        android:parentActivityName=".radarr.movie.list.view.screen.MoviesActivity"
        >
    </activity>
    <activity
        android:name=".radarr.movie.detail.view.screen.MovieDetailActivity"
        android:parentActivityName=".radarr.movie.list.view.screen.MoviesActivity"
        android:theme="@style/AppTheme.NoActionBar"
        >
    </activity>
    <activity android:name=".radarr.movie.release.view.screen.MovieReleaseActivity">
    </activity>
  </application>

</manifest>